/* 
    Document   : registration
    Created on : Apr 9, 2013, 8:42:16 PM
    Author     : abie
    Description:
        Purpose of the stylesheet follows.
*/

.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a,.ui-bar-a,.ui-body-a,.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a,
.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a,
.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c,.ui-bar-c,.ui-body-c,.ui-btn-up-c,.ui-btn-hover-c,.ui-btn-down-c,
.ui-body-c input,.ui-body-c select,.ui-body-c textarea,.ui-body-c

{
    font-family: "Open Sans", sans-serif;
}