.ui-dropdownchecklist-selector {
    padding: 2px 5px;
    
}
.ui-dropdownchecklist-item {
    padding: 1px 3px;
    
    input {
        vertical-align: -2px;
        margin-right: 3px;
    }
    label {
        display: inline;
    }
}