$side_menu_width: 210px;

@import "reset.scss";

body {
    background-color: #eee;
    font-size: 12px;
    font-family: Open Sans, Ubuntu, Calibri, sans-serif;
}

#header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $side_menu_width;
    background-color: #555;
    overflow-y: auto;
    
        h1 {
            color: #eee;
            padding: 5px;
        }
    ul {
        list-style-type: none;
        margin: 0;
        width: 100%;
        padding: 0;
        display: block;
        
        li {
            display: block;
            
            a {
                display: block;
                margin: 5px 10px;
                padding: 5px;
                border: 1px solid #ccc;
                color: #ccc;
                text-decoration: none;
                font-size: 130%;
                font-weight: bold;
                
                &:hover {
                    background-color: #ccc;
                    color: #333;
                }
            }
            
        }
        
        .active {
            a {
                background-color: rgba(255, 255, 255, .2);
            }
        }
    }
}

.container {
    width: auto;
    margin: 0 0 0 $side_menu_width;
    
}

.breadcrumbs, #content, #footer {
    padding: 5px 10px;;
}

.breadcrumbs {
    // background-color: #ccc;
}

#content {
    background-color: #fff;
    min-height: 350px;
}