body {
  font-family: "Open Sans", "Ubuntu", Calbiri, sans-serif; }

#page {
  margin-top: 50px;
  min-height: 400px; }

.navbar .brand {
  background: url(../images/logo-admin.png) no-repeat center;
  font-size: 0;
  min-width: 91px;
  opacity: .6;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
  .navbar .brand:hover {
    opacity: 1; }

#footer {
  font-size: .8em;
  color: #888;
  margin: 20px 10px 0 10px;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: right; }

#shareOrgLink .share-org-input {
  position: relative; }
  #shareOrgLink .share-org-input a {
    opacity: .3;
    position: absolute;
    top: 4px;
    right: 4px;
    transition: opacity .3s;
    text-align: right; }
#shareOrgLink .share-org-input:hover a {
  opacity: 1; }
#shareOrgLink .share-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background: #888888 url("../images/share-button.png") no-repeat;
  transition: all .3s;
  font-size: 0;
  border-radius: 3px; }
  #shareOrgLink .share-link:hover, #shareOrgLink .share-link:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  #shareOrgLink .share-link.facebook {
    background-position: 0 50%; }
    #shareOrgLink .share-link.facebook:hover, #shareOrgLink .share-link.facebook:active {
      background-color: #3b5998; }
  #shareOrgLink .share-link.twitter {
    background-position: -40px 50%; }
    #shareOrgLink .share-link.twitter:hover, #shareOrgLink .share-link.twitter:active {
      background-color: #16c5ff; }
  #shareOrgLink .share-link.gplus {
    background-position: -80px 50%; }
    #shareOrgLink .share-link.gplus:hover, #shareOrgLink .share-link.gplus:active {
      background-color: #dd4b38; }

.component-list {
  list-style: none; }
  .component-list li {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px; }
    .component-list li .description {
      margin-left: 20px; }
    .component-list li .actions {
      float: right; }
    .component-list li .actions a, .component-list li .handler {
      -moz-transition: opacity .3s;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      opacity: .2; }
      .component-list li .actions a:hover, .component-list li .actions a:active, .component-list li .handler:hover, .component-list li .handler:active {
        opacity: 1 !important; }
    .component-list li .handler {
      margin-right: 5px;
      margin-top: 5px;
      cursor: move; }
  .component-list li:hover .actions a, .component-list li:hover .handler {
    opacity: .6; }

.sortable .handler {
  cursor: move; }

.ui-dropdownchecklist-selector {
  padding: 2px 5px; }

.ui-dropdownchecklist-item {
  padding: 1px 3px; }
  .ui-dropdownchecklist-item input {
    vertical-align: -2px;
    margin-right: 3px; }
  .ui-dropdownchecklist-item label {
    display: inline; }
