.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a, .ui-bar-a, .ui-body-a, .ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a,
.ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a,
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c, .ui-bar-c, .ui-body-c, .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c,
.ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c,
body {
  font-family: "Open Sans", sans-serif; }

.ui-corner-all, .ui-btn-corner-all {
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em; }

#main-load, #main-load div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#main-load div {
  background: black url(images/ajax-loader.gif) no-repeat center center;
  opacity: .5; }

body.loading {
  overflow: hidden; }

@media all and (min-width: 50em) {
  .wrapper {
    width: 50em;
    margin: 0 auto; } }
@media all and (max-width: 50em) {
  .wrapper {
    padding: 0 1em;
    min-width: 12em; } }
.clear {
  clear: both; }

.sep {
  border-style: none;
  border-bottom: 1px solid #bbb;
  margin: .5em; }

.head {
  background: #fff;
  border-top: 3px solid #ffbb38;
  border-bottom: 1px solid #e0e0e0;
  color: #777;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .head h1 {
    margin: 0;
    font-size: 1.7em;
    overflow: hidden; }
  @media all and (min-width: 40em) {
    .head h1 {
      width: 70%;
      float: left;
      margin-top: 5px; }
    .head .user-name {
      float: right;
      width: 30%;
      text-align: right;
      margin: 2em 0 0 0; } }
  @media all and (max-width: 40em) {
    .head .oprecx-logo {
      text-align: center; }
    .head .user-name {
      margin-bottom: 1em; } }

.footer {
  background: none;
  border: none;
  color: #777;
  border-top: 1px solid #aaa;
  margin-top: 2em;
  text-shadow: 0 1px 0 #fff; }
  .footer p {
    font-size: .8em;
    font-weight: normal; }

fieldset legend {
  font-size: 1.2em;
  margin-bottom: .5em; }

form .row {
  margin-bottom: .8em; }
form span.required {
  font-size: .8em;
  color: #c05020; }
form .ui-input-text, form .ui-select {
  margin: 0; }
form .errorMessage {
  color: tomato;
  font-style: italic;
  font-size: .9em;
  margin-bottom: .5em; }
form .hint {
  font-size: .8em;
  color: #777; }

@media all and (max-width: 40em) {
  #page-user-login .ui-block-a, #page-user-login .ui-block-b, #page-user-register .ui-block-a, #page-user-register .ui-block-b {
    width: 99.99%; }
  #page-user-login .ui-block-a, #page-user-register .ui-block-a {
    border-bottom: 1px solid #aaa;
    padding-bottom: .5em;
    margin-bottom: .5em; } }
@media all and (min-width: 40em) {
  #page-user-login .ui-block-a, #page-user-register .ui-block-a {
    border-right: 2pt solid #ccc; }
  #page-user-login form, #page-user-register form {
    padding: 10px; } }

/* 
    Document   : registration
    Created on : Apr 9, 2013, 8:42:16 PM
    Author     : abie
    Description:
    Purpose of the stylesheet follows.
*/
/* ----------------------------------------------------------
    HEADER
---------------------------------------------------------- */
.head.registration {
  border-top: 3px solid #527bf4;
  overflow: hidden; }
.head .org-name {
  line-height: 2em;
  height: 2em; }
  .head .org-name a {
    text-decoration: none;
    color: #3f80fd; }
.head .user-name {
  font-size: .9em;
  font-weight: normal; }
  .head .user-name a {
    text-decoration: none; }
@media all and (min-width: 40em) {
  .head .org-name {
    margin-top: 1em; }
  .head.registration .user-name {
    margin-top: 3em; } }

.no-js #panel-show-button {
  display: none; }

#page-registration-default-index .org-description p {
  text-align: justify; }
@media all and (max-width: 40em) {
  #page-registration-default-index .ui-block-a, #page-registration-default-index .ui-block-b {
    width: 99.99%; }
  #page-registration-default-index .ui-block-a {
    border-bottom: 1px solid #aaa;
    padding-bottom: .5em;
    margin-bottom: .5em; } }
@media all and (min-width: 40em) {
  #page-registration-default-index .view-division {
    text-align: right !important; }
  #page-registration-default-index .ui-block-a {
    border-right: 2pt solid #ccc; }
  #page-registration-default-index .register-login form {
    padding: 10px; } }

#page-registration-default-division .division {
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em; }
  #page-registration-default-division .division h2 {
    margin: 0; }

#page-registration-default-interview .current-time {
  border: .1em solid #aaa;
  padding: .2em 1em;
  text-align: center;
  background-color: #fff;
  font-size: 1.2em;
  font-weight: bold; }
#page-registration-default-interview .time {
  display: block;
  width: 90px;
  text-align: center;
  height: 45px;
  position: relative;
  float: left; }
#page-registration-default-interview .time-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 45px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: .9em;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
#page-registration-default-interview .time-label-available {
  cursor: pointer; }
#page-registration-default-interview .time-label-available:hover {
  background-color: #cdf; }
#page-registration-default-interview .time-label-selected {
  background-color: #57a !important;
  font-weight: bold;
  color: #fff;
  text-shadow: none; }
#page-registration-default-interview .time-label-full {
  background-color: #ddd; }
#page-registration-default-interview .time-label-halffull {
  background-color: #dec; }
#page-registration-default-interview .date {
  clear: both;
  margin-bottom: .5em; }
#page-registration-default-interview .date h3 {
  margin-bottom: 0;
  font-size: 1.1em;
  padding: .2em; }
@media all and (min-width: 32em) {
  #page-registration-default-interview .date {
    width: 25%;
    text-align: center;
    display: inline-block;
    clear: none; }
  #page-registration-default-interview .time {
    width: 100%;
    border-style: none; } }
@media all and (min-width: 40em) {
  #page-registration-default-interview .date {
    width: 20%; } }
@media all and (min-width: 48em) {
  #page-registration-default-interview .date {
    width: 16.66%; } }
